*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: #323232;
  background-color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: 0;
  outline: none;
  transition: 0.08s linear;
}

input {
  border: none;
  outline: none;
}

input::placeholder {
  color: #cccccc;
  transition: 0.12s linear;
}

input:focus::placeholder {
  opacity: 0;
}
